.positionCenter {
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.headerDiv {
  width: 22rem;
}
.headerLoggedIn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22rem;
}
.headerLoggedOut {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22rem;
}
