.positionCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.2rem;
  background-image: linear-gradient(to right, #c7b198, #e9e9e9);
  height: 2.5rem;
}

.headerDiv {
  width: 100%;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.headerLoggedIn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 22rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.headerLoggedOut {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 22rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

.greetingUser {
  font-size: 1.5rem;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .positionCenter {
    gap: 3.2rem;
    height: 3rem;
  }

  .headerDiv {
    max-width: 34rem;
    padding: 0 2.4rem;
  }

  .headerLoggedIn,
  .headerLoggedOut {
    max-width: 34rem;
    padding: 0 2.4rem;
  }

  .greetingUser {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .positionCenter {
    gap: 4.8rem;
    height: 4rem;
  }

  .headerDiv {
    max-width: 46rem;
    padding: 0 3.2rem;
  }

  .headerLoggedIn,
  .headerLoggedOut {
    max-width: 46rem;
    padding: 0 3.2rem;
  }

  .greetingUser {
    font-size: 2.4rem;
  }
}
