.positionCenter {
  display: flex;
  justify-content: center;
  gap: 2.2rem;
}
.headerDiv {
  width: 22rem;
}
.headerLoggedIn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22rem;
}
.headerLoggedOut {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 22rem;
}
.greetingUser {
  font-size: 1.5rem;
  font-weight: 600;
}
